<!DOCTYPE html>
<html>
<head>
  <title>FactoryGirlRails::RemoteApi</title>
  <%= stylesheet_link_tag    "factory_girl_rails/remote_api/application", :media => "all" %>
  <%= javascript_include_tag "factory_girl_rails/remote_api/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
